@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    top: 0;
}

/* Header Section Styles */

/* Nav bar style */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px;
    width: 1160px;
    height: 44px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Nav bar login Button */
.button {
    padding: 8px 15px;
    color: white;
    background: #E02C6D;
}


header {
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
}

.header-details {
    padding: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 24px;
    width: 168px;
    height: 44px;
    color: white;
    background: #E02C6D;
    border: 1px solid white;

}

.half-width {
    width: 585px;
    margin-left: 30px;
}

.half-width img {
    width: 556.01px;
}

.half-width h1 {
    font-size: 50px;
}

/* main content styles */


main {
    background-color: white;
}

.players-info {
    width: 1050px;
    margin: 0 auto;
    margin-top: 30px;



}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;


}

.player {
    width: 330px;
    height: 474px;
    padding: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
    border-radius: 15px;
}

.player img {
    width: 300px;
    height: 256px;
}

p {
    color: #6C6C6C;
    text-align: justify;
}

.tournamnet {
    margin: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 30px;
}

footer img {
    width: 483.87px;
    height: 110px;
}

/* Media Icon */
span i {
    width: 50px;
    height: 50px;

}

.circle {
    display: inline-block;
    font-size: 35px;
    text-align: center;
    color: #2bb3dd;
    margin-right: 5px;
}