@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    top: 0;
}

/* Header Section Styles */
header {
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
}

.header-details {
    padding: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 168px;
    height: 44px;
    color: white;
    background: #E02C6D;
    border: 1px solid white;

}

.half-width {
    width: 585px;
}

.half-width img {
    width: 556.01px;
}

.half-width h1 {
    font-size: 50px;
}

/* main content styles */


main {
    background-color: white;
}

.players-info {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;



}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;


}

.player {
    width: 330px;
    height: 474px;
    padding: 10px;
    box-shadow: 15px 15.34229px 13.3557px 5px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.player img {
    width: 300px;
    height: 256px;
}

.player p {
    color: #6C6C6C;
}